###########################################################################
#
# RESOURCE.CFG - Sample Resource File for Nagios 3.4.4
#
# Last Modified: 09-10-2003
#
# You can define $USERx$ macros in this file, which can in turn be used
# in command definitions in your host config file(s).  $USERx$ macros are
# useful for storing sensitive information such as usernames, passwords, 
# etc.  They are also handy for specifying the path to plugins and 
# event handlers - if you decide to move the plugins or event handlers to
# a different directory in the future, you can just update one or two
# $USERx$ macros, instead of modifying a lot of command definitions.
#
# The CGIs will not attempt to read the contents of resource files, so
# you can set restrictive permissions (600 or 660) on them.
#
# Nagios supports up to 32 $USERx$ macros ($USER1$ through $USER32$)
#
# Resource files may also be used to store configuration directives for
# external data sources like MySQL...
#
###########################################################################

# Sets $USER1$ to be the path to the plugins
$USER1$=/u/prog/nagios/libexec

# Sets $USER2$ to be the path to event handlers
#$USER2$=/u/prog/nagios/libexec/eventhandlers

# Store some usernames and passwords (hidden from the CGIs)
$USER3$=AEP!76rvp
$USER4$=KapiadeC
$USER5$=manager
$USER6$=decdec
$USER7$=vmware
$USER8$=kapiakapia
$USER9$=sitb0tw
$USER10$=qis-Nagios_2014
$USER11$=NLV2015-auth
$USER12$=EPS2015-auth
$USER13$=qisqis
$USER14$=AEP20161231-auth
$USER15$=isie75
$USER16$=K-exploit2016!
$USER17$=NLV20161231-auth
$USER18$=G747cxjZ494-2017
$USER19$=NLVabn-2016
$USER20$=EPS2015auth
